{% extends "base.html" %}

{% block title %}Add Transaction{% endblock %}

{% block content %}
    <h1>Add Transaction</h1>
    <form action="/add_transaction" method="POST">
        <input type="number" name="amount" placeholder="Amount" required>
        <select name="category" required>
            <option value="" disabled selected>Select Category</option>
            {% for category in categories %}
                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
            {% endfor %}
        </select>
        <input type="text" name="description" placeholder="Description">
        <input type="date" name="date" required>
        <button type="submit">Add Transaction</button>
    </form>
{% endblock %}
